.xouter {
    background-color: rgb(18, 18, 35);
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.xbox-right-1 {
    width: 480px;
    height: 100vh;
    background-color: green;
}

.xbox-left-1 {
    width: 480px;
    height: 100vh;
    background-color: darkblue;
}