.xouter {
    background-color: rgb(18, 18, 35);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}
.xbox-left-1 {
    width: 480px;
    height: 700px;
    background-color: darkblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.xbox-left-2 {
    width: 450px;
    height: 450px;
    background-color: black;
    top: 130px;
}

.xbox-right-1 {
    width: 480px;
    height: 700px;
    background-color: green;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.xbox-right-2 {
    width: 450px;
    height: 450px;
    background-color: black;
    top: 130px;
}