.outer {
    background-color: rgb(18, 18, 35);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.box-left-1 {
    width: 480px;
    height: 700px;
    position: relative;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-left-2 {
    position: absolute;
    top: 40px;
    // background-color: black;
    width: 450px;
    height: 450px;
    transform: translate(0, 0px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-left-3 {
    background-color: grey;
    width: 90%;
    height: 90%;
}

.box-left-4a {
    background-color: gold;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
}

.top-4a {
    background-color: rgb(0, 255, 255);
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-between;
}

.exchange-rate-container {
    font-size: 13px;
    background-color: grey;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    align-items: flex-end;  
}

#select-amount {
    background-color: grey;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    align-items: flex-end;
}

.middle1-4a {
    background-color: rgb(65, 233, 18);
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-class-a
{
    background-color: rgb(243, 0, 0);
    color: rgb(0, 0, 0);
    cursor: pointer;
    height: 50.63px;
    width: 405px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.class-label {
     padding: 0px 15px;
}

.middle2-4a {
    background-color: rgb(49, 175, 175);
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-class-b
{
    background-color: rgb(109, 109, 109);
    color: rgb(0, 0, 0);
    cursor: pointer;
    height: 50.63px;
    width: 405px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.bottom-4a {
    background-color: rgb(138, 240, 80);
    width: 100%;
    height: 25%;
}

#note-text {
    font-size: 10px;
    margin: 0;
    padding: 1px;
}

.box-left-4b {
    background-color: rgb(255, 87, 87);
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
}

.top-4b {
    background-color: rgb(27, 27, 27);
    width: 100%;
    height: 25%;
    display: flex;
}

.middle1-4b {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 15%;
    display: flex;
    justify-content:last baseline;
    align-items: center;
}

.middle2-4b {
    background-color: rgb(255, 251, 0);
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content:last baseline;
    justify-content: center;
}

.top-middle2-4b {
    background-color: green;
    height: 35%;
    width: 100%;
}

.bottom-middle2-4b {
    background-color: red;
    height: 65%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#refer-others-box {
    height: 80%;
    width: 100%;
    background-color: rgb(147, 252, 0);
    display: flex;
    align-items: center;
}

#refer-others-link {
    background-color: rgb(193, 30, 30);
    height: 80%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#refer-others-copy {
    background-color: rgb(255, 255, 255);
    color: green;
    width: 20%;
}

.bottom-4b {
    background-color: rgb(105, 0, 82);
    width: 100%;
    height: 35%;
}

#submit-btn {
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
}

#the-more-referrals-text {
    font-size: 14px;
    margin: 0;
    padding: 1px;
}

.referral-explainer-text {
    font-size: 14px;
    margin: 0;
}

#note-referrals-text {
    font-size: 10px;
    margin: 0;
    padding: 1px;
}

.pricing-box-1 {
    width: 100%;
    height: 125px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    
}

.pricing-box-1-top {
    background-color: rgb(154, 154, 154);
    width: 100%;
    height: 40%;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
}

.pricing-box-1-top-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.pricing-box-1-top-text {
    display: flex;
    justify-content: space-between;
}

.pricing-box-1-middle1 {
    background-color: rgb(55, 55, 55);
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pricing-box-1-middle2 {
    background-color: rgb(181, 12, 12);
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pricing-box-1-bottom {
    background-color: rgb(25, 136, 120);
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}






















.box-right-1 { 
    width: 480px;
    // height: 1100px;
    position: relative;
    background-color: rgb(156, 156, 253);
    display: flex;
    justify-content: center;
}

.box-right-2 {
    background-color: rgb(99, 99, 99);
    width: 95%;
    height: 80%;
    top: 62.5px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slot {
    position: relative;
    width: 440px;
    height: 45px;
    background-color: rgb(28, 0, 187);
    margin-top: 1%;
}