.outer {
    background-color: rgb(18, 18, 35);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.box-left-1 {
    width: 480px;
    height: 700px;
    position: relative;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-left-2 {
    position: absolute;
    top: 130px;
    background-color: black;
    width: 450px;
    height: 450px;
    transform: translate(0, 0px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-left-3 {
    background-color: grey;
    width: 90%;
    height: 90%;
}

.box-left-4a {
    background-color: gold;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    
}

.box-left-4b {
    background-color: rgb(18, 223, 161);
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
}

.top-4a {
    background-color: aqua;
    width: 100%;
    height: 25%;
}

.middle1-4a {
    background-color: rgb(98, 15, 119);
    width: 100%;
    height: 25%;
}

.middle2-4a {
    background-color: rgb(49, 175, 175);
    width: 100%;
    height: 25%;
}

.bottom-4a {
    background-color: rgb(72, 163, 19);
    width: 100%;
    height: 25%;
}


.box-right-1 { 
    width: 480px;
    height: 1100px;
    position: relative;
    background-color: darkblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-right-2 {
    position: absolute;
    top: 50px;
    width: 450px;
    height: 80vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-right-3 {
    background-color: darkgray;
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slot {
    width: 90%;
    height: 5%;
    background-color: rgb(56, 56, 56);
    margin-top: 1%;
}
 