$primaryColor: rgb(28, 28, 39);
$secondaryColor: rgb(23, 23, 33);
$classBtnColor: rgb(48, 48, 66);
$buttonColor: rgb(94, 114, 245);
$primaryFontColor: rgb(247, 247, 247);
$secondaryFontColor: rgb(111, 110, 130);
$primaryBtnColor: rgb(195, 194, 210);
$bigFontSize: 20px;
$pricingFontSize: 16px;
$smallFontSize: 14px; 
$noteFontSize: 10px;
$classFontSize: $bigFontSize - 4px;
$classSubmitFontSize: $classFontSize + 2px;
$linkText: rgb(105, 102, 255);
$leaderboardsHeaderFontSize: $classFontSize - 3px;
$leaderboardsRowFontSize: $classFontSize - 2px;
$borderColor: rgb(195, 194, 212, .2);
$marginPricing: 8px;
@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@import "../../../assets/fonts/fonts.scss";

.outer {
    background-color: $primaryColor;
    display: flex;
    // align-items: flex-start;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    // flex-wrap: wrap;
}

.box-left-1 {
    height: 500px;
    position: relative;
    // background-color: rgb(67, 42, 42);
    display: flex;
    // justify-content: center;
    // align-items: center;
    // flex-direction: row;
} 

.box-left-2 {
    position: relative;
    top: 40px;
    width: 960px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    
}

.box-left-3 {
    background-color: $secondaryColor;
    border-radius: 10px; // Confirmed
    width: 420px;
    // height: 500px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    // align-items: center;
    // justify-content: center;
}

.box-right-3 {
    background-color: $secondaryColor;
    border-radius: 10px; // Confirmed
    width: 420px;
    // height: 500px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    // align-items: center;
    // justify-content: center;
}

.box-left-4a {
    background-color: $secondaryColor;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
}

.top-4a {
    // background-color: rgb(0, 255, 255);
    color: $primaryFontColor;
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px; // Confirmed sushi
}

.exchange-rate-container {
    font-size: $smallFontSize - 2px;
    // color: $secondaryFontColor;
    color: $primaryFontColor;
    // background-color: $classBtnColor;
    font-family: Montserrat;
    padding: 5px; // Confirmed
    border-radius: 7px; 
    display: flex;
    align-items: center; 
}

#select-amount {
    // background-color: grey;
    font-family: Montserrat SemiBold;
    // padding: 10px;
    // border-radius: 8px;
    display: flex;
    align-items: flex-end;
    font-size: $bigFontSize;
}

.middle1-4a {
    width: 100%;
    height: 25%;
}

.btn-class-a {
    background-color: $classBtnColor;
    color: $primaryBtnColor;
    font-family: Montserrat SemiBold;
    cursor: pointer;
    height: 61px; // Confirmed
    width: 420px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    margin-bottom: 16px; // Confirmed sushi
    &:hover {
        background-image: linear-gradient(to left,#5e72f50f, #5957d719, #5e72f514);
        background-size: 200%;
        // box-shadow: 0px 1px 10px .1px $buttonColor; // Glow??
    } 
}

.clicked-outlined {
    outline: 5px solid $borderColor;
} // Write logic for only selecting 1 at a time

.class-label {
    padding: 20px; // Confirmed
    cursor: pointer;
    font-size: $classSubmitFontSize;
    outline: none;
}

.middle2-4a {
    width: 100%;
    height: 25%;
}

.btn-class-b {
    background-color: $classBtnColor;
    color: $primaryBtnColor;
    font-family: Montserrat SemiBold;
    cursor: pointer; 
    height: 61px; // Confirmed
    width: 420px; // Confirmed
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px; // Confirmed
    margin-bottom: 16px; // Confirmed sushi
    &:hover {
        background-image: linear-gradient(to left,#5e72f50f, #5957d719, #5e72f514);
        background-size: 200%;
        transition: 7s;
        outline: none;
        
    } 
}

.bottom-4a {
    // background-color: rgb(138, 240, 80);
    width: 100%;
    height: 25%;
    margin-top: 10px;
    line-height: .7em;
}

#note-text {
    font-size: $noteFontSize;
    margin-top: 10px;
    margin-bottom: 0;
    padding: 0px;
    font-family: Montserrat Medium; // Confirmed wonderland
    color: $secondaryFontColor;
}

.link-txt {
    color: $linkText;
    text-decoration: none;
    
}

.top-4b {
    background-color: rgb(27, 27, 27);
    width: 100%;
    height: 50.63px;
    display: flex;
}

.middle1-4b {
    background-color: $secondaryColor;
    color: $primaryFontColor;
    font-size: $bigFontSize;
    font-family: Montserrat SemiBold;
    width: 100%;
    height: 15%;
    margin-bottom: 16px; // Confirmed sushi
    // display: flex;
    // align-items: center;
}

.middle2-4b {
    // width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 16px; // Confirmed sushi
}

.top-middle2-4b {
    background-color: $secondaryColor;
    height: 35%;
    width: 100%;
    color: $primaryFontColor;
    font-family: Montserrat;
    
}

.bottom-middle2-4b {
    background-color: $secondaryColor;
    height: 65%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px; 
}

#refer-others-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $classBtnColor;
    color: $primaryFontColor;
    border-radius: 10px;
    padding: 5px 12px; // Confirmed
}

#refer-others-link {
    // background-color: $secondaryColor;
    height: 80%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Montserrat;
}

#refer-others-copy {
    @include flexCenter();
    background-color: $buttonColor;
    color: $primaryFontColor;
    font-family: Montserrat Medium;
    // position: absolute;
    // transform: translate(200px, 0px);
    height: 30px;
    width: 75px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    transition-duration: 0.4s; // Safari
    -webkit-transition-duration: 0.4s; // Safari
    // &:hover { // I thought user experience wise this makes it confusing. 
    //     box-shadow: 0px 1px 10px .1px $buttonColor;
    //   }
    &:after { // Flash
        content: "";
        position: absolute;
        border-radius: 10px;
        right: 40;
        top: 40;
        height: 30px;
        width: 75px;
        opacity: 0;
        transition: all 0.45s;
        box-shadow: 0 0 10px 20px $buttonColor;
        }
        &:active:after { // Flash
        box-shadow: 0 0 0 0 $buttonColor;
        position: absolute;
        border-radius: 10px;
        left: 0;
        top:0;
        opacity: 1;
        transition: 0s;
        }
}
    // EXAMPLE FOR CLASS BTNs on click, glows up border
    // &:hover {
    //     background: #fff;
    //     box-shadow: 0px 2px 10px 5px #1abc9c;
    //     color: #000;
    //   }

.bottom-4b {
    background-color: $secondaryColor;
    width: 100%;
    height: 120px; // CHANGE??
}

#submit-btn {
    width: 100%;
    border-radius: 10px; // Confirmed
    cursor: pointer;
    font-size: $classSubmitFontSize;
    font-family: Montserrat SemiBold; // Confirmed
    // background-color: $buttonColor;
    color: $primaryFontColor;
    height: 52px; // Confirmed

    border: none;
    background-image: linear-gradient(to left,#5E72F5, #5957d7, #5E72F5);
    background-size: 200%;
    transition: .6s;
    &:hover {
        background-position: right;
    }
}

#the-more-referrals-text {
    font-size: $classFontSize;
    color: $primaryFontColor;
    font-family: Montserrat SemiBold;
    margin-top: 22px;
    margin-bottom: 10px;
}

.purple-text {
    color: $primaryFontColor;
}

.referral-explainer-text {
    font-size: $linkText;
    color: $primaryFontColor;
    font-family: Montserrat;
    margin-top: 8px;
    margin-bottom: 1px;
}

#note-referrals-text {
    font-size: $noteFontSize;
    font-family: Montserrat Medium; // Confirmed wonderland
    color: $secondaryFontColor;
}

.pricing-box-1 {
    background-color: $secondaryColor;
    color: $primaryFontColor;
    font-family: Montserrat Medium; // Confirmed wonderland
    font-weight: 500;
    font-size: $pricingFontSize; // Confirmed wonderland
    width: 100%;
    height: 125px; // CHANGE???
    display: flex;
    flex-direction: column;
    // margin-top: 20px;
    .right-text-pricing-thin {
        font-family: Montserrat; // Confirmed, right side text that refreshes 
    }
}

.pricing-box-1-top {
    // background-color: rgb(154, 154, 154);
    width: 100%;
    height: 40%;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    font-size: $classFontSize;
    margin-bottom: $marginPricing;
}

.pricing-box-1-top-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 12px;
    font-family: Montserrat; // Confirmed
    .singular-timer {
        margin-right: 3px;
    }
    margin-bottom: $marginPricing - 2px;
}

.red-txt {
    // color: rgb(237, 96, 143); // Confirmed, hashflow
    color: rgb(244, 80, 81); // Confirmed, dydx
}

.pricing-box-1-top-text {
    display: flex;
    justify-content: space-between;
}

.pricing-box-1-middle1 {
    // background-color: rgb(55, 55, 55);
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: $marginPricing;
}
.pricing-box-1-middle2 {
    // background-color: rgb(181, 12, 12);
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: $marginPricing;
}
.pricing-box-1-bottom {
    // background-color: rgb(25, 136, 120);
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}











.box-right-1 { 
    width: 930px;
    position: relative;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    
}

.box-right-2 {
    width: 100%; 
    padding: 16px; // Confirmed sushi
    // background-color: $secondaryColor;
    outline: 1px solid $borderColor;
    border-radius: 10px;
    

}

.box-right-2-top {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    
    // width: 100%;
    // height: 10px;
}

.rankings-table {
    
    position: relative;
    // border-radius: 10px;
    
}

.box-right-2-left {
    // background-color: green;
    // height:px;
    width: 60%;
    padding: 0px 20px; // Confirmed
    margin: 0px 0px;
    display: flex;
    justify-content: flex-start;
    
    
}

.leaderboards-header-leaderboards {
    Font-family: Montserrat SemiBold; // Confirmed
    Font-size: $bigFontSize; // Confirmed
    color: $primaryFontColor;
    margin-bottom: 16px;
    margin-top: 0px;
    
}

.top-header-leaderboards {
    display: flex;
    align-items: center;
    
}

.leaderboards-header-in-progress {
    font-size: $noteFontSize; // Confirmed dydx
    margin-left: 8px;
    background-color: #303044; // Confirmed dydx
    border-radius: 4px;
    padding: 1px 4px 1px 5px; // Confirmed dydx 
}

.leaderboards-header-time {
    font-size: $smallFontSize; // Confirmed dydx
    margin: 0px;
    margin-top: 4px; // Confirmed dydx
    Font-family: Montserrat SemiBold; // Confirmed
    color: $secondaryFontColor;
}

.box-right-2-left {
    // background-color: green;
}

.leaderboards-header {
    font-size: $leaderboardsHeaderFontSize; // Confirmed dydx
    height: 40.5px; // Confirmed dydx
    color: $primaryFontColor;
    background-color: $secondaryColor;
    
}

.leaderboards-header-text {
    
}

.leaderboard-row {
    background-color: $secondaryColor;
    font-size: $leaderboardsRowFontSize;
    height: 49px; // Confirmed dydx
    font-family: Montserrat;
    color: rgb(166, 165, 182); // Confirmed dydx
    border-bottom: 1px solid $borderColor;
}

table {
    border-collapse: collapse;
}

th:nth-child(1) {
    border-radius: 10px 0 0 0;
}

th:nth-child(4) {
    border-radius: 0 10px 0 0px;
}

.percent-green {
    color: green
}

.percent-flat {
    color: darkgrey;
}

#rank-column {
    width: 10%;
}

#wallet-column {
    width: 70%;
}

#change-column {
    width: 20%;
}

td:nth-child(3) { // td = table data telling 3rd child to text align
    text-align: center;
}

td:nth-child(1) {
    text-align: center;
}

th:nth-child(2) { // td = table data telling 3rd child to text align
    text-align: left;
}

#ido-price-column {
    width: 10%;
}