@import "../../../assets/fonts/fonts.scss";


.houter {
    // background-color: rgb(18, 18, 35);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    background: URL('../../../assets/reit-visuals/wave.svg') no-repeat fixed 10% 0%;
}

.hbox-left-1 {
    width: 480px;
    height: 700px;
    background-color: darkblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hbox-left-2 {
    width: 450px;
    height: 450px;
    background-color: rgb(249, 249, 249);
    top: 130px;
}

.hbox-right-1 {
    width: 480px;
    height: 700px;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hbox-right-2 {
    width: 450px;
    height: 450px;
    background-color: rgb(0, 0, 0);
    top: 130px;
}

#come-on {
    // font-family: Montserrat Bold;
    font-family: Montserrat SemiBold;
    color: rgb(247, 247, 247);
}

